// Place all the styles related to the UserTasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: image-url('woodbackground.jpeg'); // link to /todo_app/app/assets/images/woodbackground.jpeg
}

#task-form {
    display: none;
}

a:hover {
    text-decorations: none;
}

.well a:hover {
    text-decorations: line-through;
}